body {
	min-width: 1200px;

	font-family: "Roboto", Arial, sans-serif;
	font-size: 16px;
	line-height: 22px;
	font-weight: 700;
	color: #ffffff;
	
	background-color: #849d8f;
}

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

.gradient {
	background: -webkit-linear-gradient(top, #9db1a5 0%, #879F92 20%);
	background: linear-gradient(to bottom, #9db1a5 0%, #879F92 20%);
}

a {
  text-decoration: none;
}

.visually-hidden {
	position: absolute;
	clip: rect(0 0 0 0);
}

.container {
	display: block;

	width: 1200px;
	padding: 0;
	margin: 0 auto;
}

.container-catalog {
	padding-left: 27px;
	padding-right: 27px;
}

.main-header,
.discounts,
.catalog,
.about-us,
.blog-and-subscription,
.main-footer {
	padding-left: 27px;
	padding-right: 27px;
}

/*main-header start*/
/*main-navigation-left start*/
.main-navigation {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.main-header-logo {
	margin: 0;
	margin-top: -4px;
	
	width: 155px;
	height: 70px;
}

.main-navigation-left {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;

	margin: 0;
	padding: 0;
	
	width: 560px;
	min-height: 70px;
}

.main-navigation-right {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin: 0;
	margin-left: auto;
	padding: 0px;
	
	width: 265px;
	min-height: 70px;
}

.site-navigation {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	
	position: relative;
	z-index: 2;
	
	width: 382px;
	margin: 0px;
	margin-bottom: 6px;
	margin-left: 12px;
	padding: 0px;
	font-size: 16px;
	line-height: 18px;
	color: #ffffff;
	
	list-style: none;
}

.site-navigation > li {
	margin-right: 9px;
}

.site-navigation a {
	padding: 8px 10px;
	
	color: #ffffff;
}

.site-navigation a.last-nav-link {
	padding-left: 8px;
}

.site-navigation a.main-nav-link:hover,
.site-navigation a.main-nav-link:focus {
	color: #000000;
	text-decoration: none;
	
	background-color: #ffffff;
	border-radius: 20px;
	border-bottom: none;
}

.site-navigation a:active {
	color: #000000;
	text-decoration: none;
	
	background-color: #ffffff;
	border-radius: 20px;
	box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.5);
}

.with-underline-class {
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.first-link {
	position: relative;
	
	z-index: 2;
}

.first-link:hover .sub-nav {
	display: block;
}

.first-link::after {
	content: "";
	
	position: absolute;
	top: 10px;
	left: 0;
	z-index: -1;
	
	width: 100px;
	height: 40px;
} /*вставил невидимую перемычку-блок, чтоб подменю не скрывалось*/

.sub-nav {
	display: none;
	position: absolute;
	top: 30px;
	left: -5px;
	z-index: 2;
	
	width: 144px;
	min-height: 172px;
	margin: 0;
	padding: 0;
	
	font-size: 14px;
	font-weight: 700;
	line-height: 16px;
	color: #000000;
	list-style: none;
	background: #ffffff;
	
	border-radius: 5px;
}

.sub-nav li {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.sub-nav li:not(:first-child) {
	font-weight: 400;
}

.sub-nav li:first-child {
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.sub-nav a {
	display: block;
	
	margin: 0;
	padding: 11px 16px;
	
	color: #000000;
}

.sub-nav a:visited {
	margin: 0;
	
	background: #d07058;
}

.sub-nav a:hover,
.sub-nav a:focus {
	margin: 0;
	
	background: #fbded7;
}

.sub-nav a:active {
	margin: 0;
	
	color: #ffffff;
	background: #f6b5a5;
	box-shadow: none;
	border-radius: 0;
}
/*main-navigation-left end*/

/*main-navigation-right start*/
/*user-navigation start*/
.user-navigation {
	width: 324px;
	
	display: -webkit-box;
	
	display: -ms-flexbox;
	
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	
	list-style: none;
	margin-top: 22px;
	margin-bottom: 12px;
}

.user-navigation-inner {
	width: 350px;
	margin-left: -50px;
}

.user-navigation li {
	margin: 0;
	padding: 0;
	margin-left: 13px;
}

.user-navigation a {
	font-size: 14px;
	line-height: 16px;
	color: #ffffff;
}

/*li.modal-search start*/
.user-navigation a.modal-search {
	position: relative;
	z-index: 2;
	display: block;
	
	width: 32px;
	height: 32px;
	margin-top: 2px;

	border-radius: 50%;
	background-color: rgba(255, 255, 255, 0.2);
}

.search-wrapper {
	position: relative;
}

.modal-search::after {
	content: "";
	
	position: absolute;
	top: 10px;
	left: 0;
	z-index: 1;
} /*вставил невидимую перемычку-блок, чтоб попап не скрывался*/

.modal-search .loup {
	margin-top: 6px;
	margin-left: 6px;
	
	fill: #ffffff;
}

.modal-search:hover .loup {
	fill: #000000;
}

.modal-search:hover {
	cursor: pointer;
	background-color: #ffffff;
}

.search-wrapper:hover .search-form {
	display: block;
	
	position: absolute;
	top: 39px;
	left: -305px;
}
	
.search-form {
	display: none;
	
	width: 340px;
	min-height: 85px;
	
	font-size: 14px;
	line-height: 24px;
	color: #999999;
	
	background-color: #f8f7f4;
	box-shadow: 0 5px 30px -5px rgba(0, 0, 0, 0.5);
	border-radius: 5px;
	
	box-sizing: border-box;
}

.search-form input[type="text"] {
	font-weight: 700;
	color: #000000;
}

.search-form input::-webkit-input-placeholder {
	font-weight: 400;
}

.search-form input::-moz-placeholder {
	font-weight: 400;
}

.search-form input:-ms-input-placeholder {
	font-weight: 400;
}

.search-form input:hover {
	border: 2px solid rgba(0, 0, 0, 0.3);
	padding: 9px 11px;
}

.search-form input:focus {
	border: 2px solid #8fbdec;
	padding: 9px 11px;
}

.search-navigation {
	margin: 20px 15px;
}

.search-navigation input {
	min-width: 310px;
	height: 45px;
	margin: 0;
	padding: 10px 12px;

	font-size: 14px;
	line-height: 24px;
	color: #999999;
	
	background-color: #ffffff;
	border: 1px solid rgba(0, 0, 0, 0.4);
	border-radius: 5px;
}
/*li.modal-search end*/

/*li.login-link start*/
.user-navigation .login-wrapper {
	position: relative;
	z-index: 2;
	
	height: 50px;
	margin-left: 10px;
	padding: 0;
	
	text-align: center;
}

.login-link .enter {
	margin-left: -70px;
	
	fill: #ffffff;
}

.login-link-inner .enter {
	margin-left: -70px;
}

.login-link:hover .enter {
	fill: #000000;
}

.login-link .login-title {
	display: block;
	
	margin: 0;
	margin-top: -21px;
	margin-right: 4px;
}

.user-navigation a.login-link {
	position: relative;
	
	display: block;
	
	width: 92px;
	height: 32px;
	padding: 7px 6px 0px 35px;
	
	font-weight: 500;
	
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 15px;
}

.user-navigation a.login-link:hover {
	cursor: pointer;
	color: #000000;
	background-color: #ffffff;
}

/*modal-login start*/
.login-wrapper:hover .modal-login {
	display: block;
	
	position: absolute;
	top: 39px;
	left: -185px;
}

.login-wrapper:hover {
	cursor: pointer;
}

.modal-login {
	display: none;
	
	width: 278px;
	min-height: 214px;
	
	font-size: 14px;
	line-height: 24px;
	color: #999999;
	
	background-color: #f8f7f4;
	box-shadow: 0 5px 30px -5px rgba(0, 0, 0, 0.5);
	border-radius: 5px;
}

.login-form .form-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.form-wrapper .button,
.form-wrapper .login-password-info {
	width: 50%;
}

.form-wrapper {
	margin: 20px;
	padding: 0;
}

.login-form p {
	margin: 0;
	padding: 0;
}

.login-form input {
	padding: 10px 13px;
	width: 240px;
	
	font-size: 14px;
	line-height: 24px;
	
	color: #323232;
	background-color: #ffffff;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 5px;
}

.login-form input[type="email"],
.login-form input[type="password"] {
	font-weight: 700;
}

.login-form input::-webkit-input-placeholder {
	font-weight: 400;
}
.login-form input::-moz-placeholder {
	font-weight: 400;
}

.login-form input:-ms-input-placeholder {
	font-weight: 400;
}

.login-icon-user {
	margin: 20px;
}

.login-icon-password {
	margin: 0 20px 0 20px;
}

.login-form input:hover {
	border: 2px solid rgba(0, 0, 0, 0.3);
	padding: 9px 12px;
}

.login-form input:focus {
	border: 2px solid #8fbdec;
	padding: 9px 12px;
}

.login-form .button {
	width: 100px;
	height: 45px;
	
	font-size: 18px;
	line-height: 24px;
	color: #ffffff;
	
	background-color: #eb563b;
	border: none;
	border-top-left-radius: 25% 50%;
	border-bottom-left-radius: 25% 50%;
	border-top-right-radius: 25% 50%;
	border-bottom-right-radius: 25% 50%;
}

.login-form .button:hover {
	cursor: pointer;
}

.login-password-info {
	text-align: left;
}

a.restore {
	width: 120px;
	height: 20px;
	display: inline-block;
	
	font-size: 13px;
	line-height: 24px;
	font-weight: 400;
	color: #323232;
	
	text-align: left;
	vertical-align: top;
	text-decoration: none;
	border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

a.restore:first-child {
	width: 102px;
}

a.restore:hover {
	color: #e84d37;
	border-bottom: 1px solid rgba(232, 77, 55, 0.3);
}
/*modal-login end*/
/*li.login-link end*/

/*li.basket start*/
.basket-wrapper {
	position: relative;
	
	z-index: 2;
	
	font-weight: 500;
}

/*modal-basket start*/
.basket-wrapper-inner:hover {
	cursor: pointer;
}

.basket-wrapper-inner:hover .basket-order {
	display: block;
	
	position: absolute;
	top: 40px;
	left: -438px;
	
	cursor: default;
}

.basket-wrapper-inner::after {
	content: "";
	
	position: absolute;
	top: 10px;
	left: 0;
	z-index: 1;
	
	width: 100px;
	height: 40px;
} /*вставил невидимую перемычку-блок, чтоб попап не скрывался*/

.basket-order {
	display: none;
	
	width: 278px;
	min-height: 214px;
	
	font-size: 14px;
	line-height: 24px;
	color: #999999;
	
	background-color: #f8f7f4;
	box-shadow: 0 5px 30px -5px rgba(0, 0, 0, 0.5);
	border-radius: 5px;
}

.basket-wrapper-inner table {
	margin: 0px 15px 20px 15px;
	
	border-collapse: collapse;
}

.basket-wrapper-inner tr:last-child {
	border-bottom: 1px solid #cacac7;
}

.basket-wrapper-inner td {
	padding: 7px 5px;
}

.table-click {
	position: relative;
	top: 0;
	left: 0;
	
	width: 11px;
	height: 11px;

	border: 0;

	cursor: pointer;
}

.table-click::before,
.table-click::after {
	content: "";

	position: absolute;
	top: 25px;
	left: -10px;

	width: 15px;
	height: 1px;

	background-color: #2c2829;
}

.table-click::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.table-click::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

td.image {
	width: 65px;
}

td.image img {
	width: 33px;
	height: 33px;
	
	border-radius: 50%;
}

td.name {
	width: 244px;
}

td.value {
	width: 120px;
}

.table-price {
	color: #999999;
}

.basket-total {
	font-size: 15px;
	line-height: 18px;
	font-weight: 700;
	
	text-align: right;
}

.button-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
}

.basket-wrapper-inner .button {
	padding: 10px 14px;
	width: 170px;
	height: 45px;
	
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
	color: #ffffff;

	background-color: #eb563b;
	border: none;
	border-radius: 25px;
}

.basket-wrapper-inner .button:hover {
	cursor: pointer;
}

/*modal-basket end*/
a.basket {
	position: relative;
	
	display: block;
	min-width: 102px;
	height: 32px;
	margin-top: 1px;
	margin-left: -6px;
	
	padding: 8px 17px 8px 46px;
	
	color: #ffffff;
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 15px;
}

a.basket-inner {
	min-width: 117px;
	padding: 8px 17px 8px 43px;
	
	color: #000000;
	background-color: #ffffff;
}

.basket svg {
	position: absolute;
	top: 6px;
	left: 18px;
	
	width: 21px;
	height: 20px;
	
	fill: #ffffff;
}

.basket-inner svg {
	left: 15px;
}

.basket:hover svg {
	fill: #000000;
}

a.basket:hover {
	cursor: pointer;
	color: #000000;
	background-color: #ffffff;
}

.basket-order {
	display: none;
	
	width: 540px;
	padding: 10px;

	font-size: 13px;
	line-height: 16px;
	font-weight: 400;
	color: #323232;
	
	background-color: #f8f7f4;
	border-radius: 5px;
}
/*user-navigation end*/
/*main-navigation-right end*/

.work-time {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;

	margin: 0;
	margin-top: -10px;
	margin-right: 1px;
	
	min-height: 43px;
	text-align: right;
}

.work-day {
	font-size: 14px;
	line-height: 16px;
}

.work-tel {
	margin-right: -2px;
	
	font-size: 22px;
	line-height: 24px;
}

/*slider start*/
.promo-slides {
	margin: 0;
	padding: 0;
	
	width: 1146px;
	height: 535px;
	
	list-style: none;
	text-align: center;
}

li.slide {
	background-image: url("../img/main-page.png");
}

.promo-slides p {
	margin: 0;
	
	font-size: 60px;
	line-height: 60.35px;
}

.button {
	font-size: 32px;
	line-height: 44px;
	color: #ffffff;
	
	background: -webkit-linear-gradient(bottom, #e74b36, #f26843);
	
	background: linear-gradient(to top, #e74b36, #f26843);
	border-radius: 20px;
	box-shadow: 0 2px 1px 0 #D14C37;
	text-shadow: 0 0 20px #BB4C37;
}

.button:hover,
.button:focus {
	background: #F38267;
}

.button:active {
	background: -webkit-linear-gradient(top, #e74b36, #f26843);
	background: linear-gradient(to bottom, #e74b36, #f26843);
	box-shadow: inset 2px 1px 0 #D14C37;
}

.visually-hidden-slide {
	position: absolute;

	width: 1px;
	height: 1px;

	clip: rect(0, 0, 0, 0);
}

.site-wrapper {
	min-width: 940px;
	background-color: #849d8f;
	background-image: url("../img/slider-item1.png");
	background-repeat: no-repeat;
	background-position: top center;

	-webkit-transition: background-image 0.5s ease, background-color 0.5s ease;

	transition: background-image 0.5s ease, background-color 0.5s ease;

	min-height: 100vh;
}

.site-wrapper::before,
.site-wrapper::after {
	content: "";
	
	visibility: hidden;
}

.site-wrapper::before {
	background-image: url("../img/slider-item2.png");
}

.site-wrapper::after {
	background-image: url("../img/slider-item3.png");
}

.slider {
	position: relative;

	margin-bottom: 40px;
	padding-top: 276px;
	padding-left: 1px;

	text-align: center;
	color: #ffffff;
}

.slider-list {
	margin: 0;
	margin-bottom: 41px;
	padding: 0;

	list-style: none;
}

.slide-r {
	display: none;
}

.slide-title {
	width: 700px;
	margin: 0 auto;
	margin-bottom: 26px;

	font-size: 60px;
	line-height: 60px;
	font-weight: 800;
}

.button-r {
	display: inline-block;
	width: 279px;
	min-height: 63px;
	padding: 9px 40px;
	padding-top: 8px;
	padding-left: 39px;
	margin-top: 4px;

	font-weight: 600;
	font-size: 32px;
	line-height: 44px;
	text-align: center;
	color: #ffffff;
	vertical-align: top;
	text-decoration: none;
	text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

	background: #f26843;
	background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
	background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
	border-radius: 50px;
	box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
	border: none;

	cursor: pointer;
}

.button-r:hover {
	background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
	background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
	box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.button-r:active {
	background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
	background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
	box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.slider-controls {
	position: absolute;
	bottom: 20px;
	left: 2px;
	z-index: 20;

	font-size: 0;
}

.slider-controls label {
	display: inline-block;
	width: 20px;
	height: 20px;
	margin-right: 8px;

	vertical-align: top;

	background-color: transparent;
	border: 2px solid #ffffff;
	border-radius: 50%;
	cursor: pointer;
}

.slider-controls label:hover {
	background-color: rgba(255, 255, 255, 0.2);
}

#product-1:checked ~ .site-wrapper {
	background-color: #849d8f;
	background-image: url("../img/slider-item1.png");
}

#product-2:checked ~ .site-wrapper {
	background-color: #8996a6;
	background-image: url("../img/slider-item2.png");
}

#product-3:checked ~ .site-wrapper {
	background-color: #9d8b84;
	background-image: url("../img/slider-item3.png");
}

#product-1:checked ~ .site-wrapper #slide1,
#product-2:checked ~ .site-wrapper #slide2,
#product-3:checked ~ .site-wrapper #slide3 {
	display: block;
}

#product-1:checked ~ .site-wrapper label[for="product-1"],
#product-2:checked ~ .site-wrapper label[for="product-2"],
#product-3:checked ~ .site-wrapper label[for="product-3"] {
	background-color: #ffffff;
}
/*slider end*/
/*main-header end*/

/*main.container start*/
/*discounts start*/
.discounts {
	width: 100%;
	min-height: 230px;
	
	margin-bottom: 34px;
}

.discount-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	
	padding: 0;
	
	list-style: none;
}

.discount-list .button:hover,
.discount-list .button:focus {
	background: #F38267;
}

.discount-list .button:active {
	background: -webkit-linear-gradient(top, #e74b36, #f26843);
	background: linear-gradient(to bottom, #e74b36, #f26843);
	box-shadow: inset 2px 1px 0 #D14C37;
}

.discounts-raspberry {
	width: 560px;
	min-height: 230px;
	padding-bottom: 35px;

	background-color: #B3607D;
	background-image: url("../img/raspbery.png");
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 13px;
}

.discounts-chocolate {
	width: 560px;
	min-height: 230px;
	padding-bottom: 35px;
	
	background-color: #704D3F;
	background-image: url("../img/chokolate.png");
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 13px;
}

.discounts-raspberry h3 {
	margin-left: 18px;
	margin-top: 16px;
	margin-bottom: 16px;
	padding: 0;
	
	font-size: 35px;
	line-height: 41px;
}

.discounts-raspberry p {
	margin: 16px 20px 53px 20px;
	padding: 0;
	
	font-size: 18px;
	line-height: 22px;
}

.discounts-raspberry .button {
	margin-left: 375px;
	padding: 11px 22px;
	
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
	
	color: #ffffff;
	box-shadow: 0 2px 1px 0 #D14C37;
	border-radius: 25px;
	background: -webkit-linear-gradient(bottom, #E54A36, #F06542);
	background: linear-gradient(to top, #E54A36, #F06542);
}

.discounts-chocolate h3 {
	margin-left: 19px;
	margin-top: 16px;
	margin-bottom: 16px;
	padding: 0;
	
	font-size: 35px;
	line-height: 41px;
}

.discounts-chocolate p {
	margin: -2px 20px 54px 20px;
	padding: 0;
	
	font-size: 18px;
	line-height: 22px;
}

.discounts-chocolate .button {
	margin-left: 350px;
	padding: 10px 21px 11px 22px;
	
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
	
	color: #ffffff;
	box-shadow: 0 2px 1px 0 #D14C37;
	border-radius: 25px;
	background: -webkit-linear-gradient(bottom, #E54A36, #F06542);
	background: linear-gradient(to top, #E54A36, #F06542);
}
/*discounts end*/

/*catalog start*/
.catalog {
	min-height: 362px;
	margin-bottom: 5px;
}

.catalog-inner {
	min-height: 362px;
	margin-bottom: 50px;
}

.catalog-list,
.catalog-list-inner {
	width: 100%;
	min-height: 330px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	
	margin-bottom: 35px;
}

.catalog-list {
	margin: 0;
	padding: 0;

	list-style: none;
}

.catalog-list-inner {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;

	padding: 0;

	list-style: none;
}

.catalog-item {
	position: relative;

	width: 292px;
	min-height: 406px;
	margin-right: 26px;
}

.catalog-item-inner {
	position: relative;

	width: 268px;
	min-height: 362px;
	margin-right: 24px;
}

.catalog-item-inner:nth-child(4n+4) {
	margin-right: 0;
}

.catalog-item .hit {
	position: absolute;
	z-index: 3;
	top: 5px;
	width: 65px;
	height: 65px;

	background: url("../img/hit.png") no-repeat; /* Фоновый рисунок для замены текста */
}

.catalog-item .first-hit {
	top: 5px;
	left: 0;
}

.catalog-list img,
.catalog-list-inner img {
	position: relative;
	top: 5px;
	z-index: 2;
	
	border-radius: 50%;
}

p.catalog-image,
p.catalog-image-inner {
	margin-top: 0;
}

.catalog-price,
.catalog-price-inner {
	position: absolute;
	z-index: 3;
	top: 214px;
	left: -1px;
	
	font-size: 45px; /*размер шрифта подобрал на глаз, фотошоп почему-то не выдал font-size*/
	line-height: 45px;
	
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.catalog-price-inner {
	top: 213px;
	left: 1px;
}

.price-symbol::before,
.price-symbol-inner::before {
	content: "";
	
	position: absolute;
	top: 6px;
	left: 81px;
	
	width: 30px;
	height: 34px;
	
	background-image: url("../img/ruble.svg");
	background-repeat: no-repeat;
}

.catalog-item-inner:nth-child(4n+1) .catalog-price-inner {
	left: -1px;
}

.catalog-item span.price-low,
.catalog-item-inner span.price-low-inner {
	margin-left: 25px;
	
	font-size: 30px;
}

.catalog-description,
.catalog-description-inner {
	position: relative;
	top: 5px;
	z-index: 3;
	
	margin: -9px;
	margin-left: -6px;
	padding: 0;
	padding-left: 14px;
	
	font-size: 16px;
	line-height: 22px;
	font-weight: 500;
	
	text-align: center;
	width: 266px;
}

.catalog-item a,
.catalog-item-inner a {
	color: #ffffff;
	font-weight: 500;

	text-decoration: none;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.catalog-description a:hover,
.catalog-description a:focus,
.catalog-description a:active,
.catalog-description-inner a:hover,
.catalog-description-inner a:focus,
.catalog-description-inner a:active {
	color: #ffbc9e;
	border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}

.catalog-item-hover,
.catalog-item-hover-inner {
	display: none;
	
	position: absolute;
	
	min-height: 406px;
	padding-bottom: 10px;
	
	top: -5px;
	left: -13px;
	right: -13px;
}

.catalog-item:hover .catalog-item-hover,
.catalog-item:focus .catalog-item-hover,
.catalog-item-inner:hover .catalog-item-hover-inner,
.catalog-item-inner:focus .catalog-item-hover-inner {
	display: block;
	padding-top: 340px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
	
	background-color: rgba(255, 255, 255, 0.2);
	
	border-radius: 5px;
	box-shadow: 0 8px 20px 2px rgba(0, 0, 0, 0.35);
}

.catalog-item-inner:hover .catalog-image-inner {
	position: relative;
	z-index: 5;
}
.catalog-item-inner:hover .catalog-price-inner {
	z-index: 6;
}
.catalog-item-inner:hover .catalog-description-inner {
	z-index: 8;
}

.catalog-item-inner .bilberry {
	margin: 0;
	margin-top: -9px;
	padding-left: 3px; /*делаю перенос названия товара!*/
}

.catalog-item-hover-inner {
	position: absolute;
	
	z-index: 3;
}

p.catalog-button {
	-ms-flex-item-align: center;
	    -ms-grid-row-align: center;
	    align-self: center;
}

.catalog .button,
.catalog-inner .button {
	width: 200px;
	
	margin: 0 auto;
	padding: 10px 15px;
	
	font-size: 18px;
	line-height: 24px;
	color: #ffffff;
	text-decoration: none;
	text-align: center;
	
	background: -webkit-linear-gradient(bottom, #e74b36, #f26843);
	
	background: linear-gradient(to top, #e74b36, #f26843);
	border-radius: 25px;
	box-shadow: 0 2px 1px 0 #D14C37;
}

.catalog .button:hover,
.catalog .button:focus,
.catalog-inner .button:hover,
.catalog-inner .button:focus {
	background: #F38267;
}

.catalog .button:active,
.catalog-inner .button:active {
	background: -webkit-linear-gradient(top, #e74b36, #f26843);
	background: linear-gradient(to bottom, #e74b36, #f26843);
	box-shadow: inset 2px 1px 0 #D14C37;
}
/*catalog end*/

/*about-us start*/
.about-us {
	margin-top: -44px;
	margin-bottom: 38px;
	margin-left: 27px;
	margin-right: 27px;
	padding: 0;
	
	color: #323232;
	font-size: 16px;
	line-height: 22px;
	font-weight: 400;
	border-radius: 15px;
	
	background-color: #EDDFC3;
	background-image: url("../img/pattern.jpg");
}

.about-us h2 {
	margin: 0;
	margin-bottom: 24px;
	padding-top: 26px;
	padding-left: 20px;
	
	font-size: 24px;
	line-height: 30px;
	font-weight: 500;
}

.about-us-list {
	position: relative;
	
	display: -webkit-box;
	
	display: -ms-flexbox;
	
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	
	
	font-size: 16px;
	line-height: 22px;
	font-weight: 400;
	margin: 0;
	margin-top: -5px;
	margin-left: 77px;
	padding: 0;
	
	list-style: none;
}

.about-us-item {
	width: 486px;
	margin: 0;
	margin-right: 26px;
	margin-bottom: 24px;
	
	padding: 0;
}

.about-us-item:nth-child(even) {
	width: 525px;
	margin-left: 8px;
	margin-right: 0;
	padding-left: 46px;
}

.item-ice::before {
	content: "";
	
	position: absolute;
	left: -56px;
	top: -12px;
	
	width: 49px;
	height: 49px;
	
	background-image: url("../img/ice.svg");
	background-repeat: no-repeat;
}

.item-cow::before {
	content: "";
	
	position: absolute;
	left: 508px;
	top: -12px;
	
	width: 49px;
	height: 49px;
	
	background-image: url("../img/cow.svg");
	background-repeat: no-repeat;
}

.item-eco::before {
	content: "";
	
	position: absolute;
	left: -56px;
	top: 76px;
	
	width: 49px;
	height: 49px;
	
	background-image: url("../img/eco.svg");
	background-repeat: no-repeat;
}

.item-temp::before {
	content: "";
	
	position: absolute;
	left: 508px;
	top: 76px;
	
	width: 49px;
	height: 49px;
	
	background-image: url("../img/termometr.svg");
	background-repeat: no-repeat;
}
/*about-us end*/

/*blog start*/
.blog-and-subscription {
	width: 100%;
	min-height: 221px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	
	margin-bottom: 39px;
}

.blog {
	margin: 0px;
	margin-right: 25px;
	width: 560px;
	min-height: 220px;
	border-radius: 15px;
	
	background-color: #ffffff;
	background-image: url("../img/strawberry-bg-static.jpg");
	background-position: 0 0;
	background-size: contain;
	background-repeat: no-repeat;
	background-size: cover;
}

.blog h2 {
	margin-top: 24px;
	margin-left: 20px;
	margin-bottom: 8px;
	
	color: #323232;
	font-size: 16px;
	line-height: 22px;
	font-weight: 500;
}

.blog b {
	display: block;
	width: 300px;
	margin: 0;
	margin-top: -4px;
	margin-left: 19px;
}

.blog a {
	color: #323232;
	font-size: 24px;
	line-height: 30px;
	font-weight: 700;
	
	text-decoration: none;
	border-bottom: 2px solid rgba(50, 50, 50, 0.7);
}

.blog a:hover,
.blog a:focus,
.blog a:active {
	color: #e84d37;
	
	border-bottom: 2px solid #f9cdc4;
}
/*blog end*/

/*subscription start*/
.subscription {
	margin: 0px;
	padding: 0;
	width: 560px;
	min-height: 220px;
	border-radius: 15px;
	
	color: #5a5a5a;
	font-size: 16px;
	line-height: 22px;
	font-weight: 400;
	
	background-image: url("../img/bg-post.svg");
	background-position: 0 0;
	background-repeat: no-repeat;
}

.subscription-wrap {
	width: 550px;
	height: 210px;
	margin: 5px;
	padding: 0;
	
	background-color: #f8f7f4;
	border-radius: 15px;
}

.subscription-wrap p {
	margin: 0;
	margin-bottom: 38px;
	padding-top: 30px;
	padding-left: 22px;
	padding-right: 20px;
	
	font-size: 16px;
	line-height: 22px;
	color: #5A5A5A;
}

.subscription-form {
	margin-left: 20px;
	margin-right: 20px;
	
	display: -webkit-box;
	
	display: -ms-flexbox;
	
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.subscription-form input {
	-webkit-box-flex: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
	padding-left: 15px;
	
	font-size: 16px;
	line-height: 24px;
	color: #999999;
	
	background-color: #ffffff;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 5px;
}

.subscription-form input[type="email"] {
	font-weight: 700;
	color: #000000;
}

.subscription-form input::-webkit-input-placeholder {
	font-weight: 400;
}

.subscription-form input::-moz-placeholder {
	font-weight: 400;
}

.subscription-form input:-ms-input-placeholder {
	font-weight: 400;
}

.subscription-form input:hover {
	border: 2px solid rgba(0, 0, 0, 0.3);
	padding-left: 14px;
}

.subscription-form input:focus {
	border: 2px solid #8fbdec;
	padding: 7px 14px;
}

.subscription-form button {
	width: 130px;
	height: 44px;
	margin-left: 10px;
	margin-top: -3px;
	
	font-size: 18px;
	line-height: 24px;
	color: #fefefe;
	
	background: -webkit-linear-gradient(bottom, #e74b36, #f26843);
	
	background: linear-gradient(to top, #e74b36, #f26843);
	border: none;
	border-radius: 25px;
	box-shadow: 0 2px 1px 0 #D14C37;
}

.subscription-form button:hover,
.subscription-form button:focus {
	background: #F38267;
	cursor: pointer;
}

.subscription-form button:active {
	background: -webkit-linear-gradient(top, #e74b36, #f26843);
	background: linear-gradient(to bottom, #e74b36, #f26843);
	box-shadow: inset 2px 1px 0 #D14C37;
}
/*subscription end*/

/*map start*/
.map {
	position: relative;

	width: 100%;
	min-height: 430px;
}

.map p.map-image {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;

	margin: 0;
}

.map iframe {
	position: relative;
	z-index: 2;

	border: none;
}

.map .contact {
	position: absolute;
	z-index: 2;

	top: 63px;
	right: 27px;
	
	width: 302px;
	height: 305px;
	padding-top: 30px;
	padding-left: 25px;
	
	font-size: 14px;
	line-height: 20px;
	font-weight: 400;
	color: #323232;

	background-color: #ffffff;
	border-radius: 10px;
}

.contact p {
	width: 150px;
	margin: 0;
}

.contact p.contact-tel {
	padding-top: 1px;
	margin-bottom: 4px;
}

p.contact-tel b {
	padding-top: 3px;
	padding-bottom: 3px;
}

.contact p:first-of-type {
	margin-bottom: 18px;
}

.contact p:last-of-type {
	width: 180px;
	margin-bottom: 33px;
}

.contact b {
	display: block;
	width: 235px;
	
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
}

.contact .button {
	width: 252px;
	height: 44px;
	padding: 11px 28px;
	
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
	
	border-radius: 25px;
}
/*map end*/
/*main.container end*/

/*footer start*/
.main-footer {
	display: block;
	min-height: 95px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	padding-top: 12px;
}

.main-footer-inner {
	margin-top: 24px;
}

.main-footer a,
.footer-company {
	color: #ffffff;
	text-decoration: none;
}

.social-twitter svg,
.social-instagram svg,
.social-fb svg,
.social-vk svg {
	fill: rgba(255, 255, 255, 0.8);
}

.social-twitter:hover svg,
.social-instagram:hover svg,
.social-fb:hover svg,
.social-vk:hover svg,
.social-twitter:focus svg,
.social-instagram:focus svg,
.social-fb:focus svg,
.social-vk:focus svg,
.social-twitter:active svg,
.social-instagram:active svg,
.social-fb:active svg,
.social-vk:active svg {
	fill: rgba(255, 255, 255, 1); /*стили иконок при наведении и нажатии*/
}

.social-button-item {
	display: block;
	width: 38px;
	height: 38px;
	
	border-radius: 25px;
    border: 3px solid rgba(255, 255, 255, 0.5);
}

.social-button-item:hover,
.social-button-item:focus,
.social-button-item:active {
	border: 3px solid rgba(255, 255, 255, 0.7);  /*стили рамок иконок при наведении и нажатии*/
}

.documentation a,
.footer-company {
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.documentation a:hover,
.documentation a:focus,
.documentation a:active,
.footer-company:hover,
.footer-company:focus,
.footer-company:active {
	color: #ffbc9e;
	border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}

.footer-social {
	width: 268px;
	padding-top: 2px;
}

.social-button {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	
	padding: 0;
	margin-right: 10px;
	margin-left: 2px;
	margin-top: 22px;
	
	font-size: 13px;
	line-height: 18px;
	font-weight: 400;

	list-style: none;
}

.social-button li {
	margin-top: -6px;
	margin-right: 11px;
}

/*иконки svg*/
.social-twitter {
	fill: #ffffff;
}

/*иконки svg*/

.documentation {
	position: relative;
	
	display: -webkit-box;
	
	display: -ms-flexbox;
	
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	
	width: 520px;
	margin: 0;
	padding: 0;
	padding-top: 3px;
	padding-right: 2px;
	
	font-size: 13px;
	line-height: 18px;
	font-weight: 400;
}

.documentation li {
	text-align: left;
}

.documentation-list {
	font-size: 13px;
	line-height: 18px;
	font-weight: 400;

	list-style: none;
	text-align: center;
}

.documentation-list-left,
.documentation-list-right {
	margin-right: 16px;
	padding-left: 15px;
	
	list-style: none;
}

.provider {
	margin-bottom: 3px;
	
	font-weight: 700;
}

.ecology {
	margin-top: 3px;
}

.provider::before {
	content: "";
	
	position: absolute;
	top: 19px;
	left: 84px;
	
	width: 15px;
	height: 13px;
	
	background-image: url("../img/heart.svg");
	background-repeat: no-repeat;
}

.footer-copyright {
	width: 265px;
	min-height: 72px;
	margin-right: -2px;
	padding-left: 75px;
	
	font-size: 12px;
	line-height: 18px;
	font-weight: 400;
	
	text-align: left;
}

.footer-copyright p {
	margin: 0;
}

.footer-copyright a {
	text-decoration: none;
}
/*footer end*/

/*modal-feedback start*/
@-webkit-keyframes bounce {
	0% {
		-webkit-transform: translateY(-2000px);
		        transform: translateY(-2000px);
	}

	70% {
		-webkit-transform: translateY(30px);
		        transform: translateY(30px);
	}

	90% {
		-webkit-transform: translateY(-10px);
		        transform: translateY(-10px);
	}

	100% {
		-webkit-transform: translateY(0);
		        transform: translateY(0);
	}
}
@keyframes bounce {
	0% {
		-webkit-transform: translateY(-2000px);
		        transform: translateY(-2000px);
	}

	70% {
		-webkit-transform: translateY(30px);
		        transform: translateY(30px);
	}

	90% {
		-webkit-transform: translateY(-10px);
		        transform: translateY(-10px);
	}

	100% {
		-webkit-transform: translateY(0);
		        transform: translateY(0);
	}
}

@-webkit-keyframes shake {
	0%, 100% {
		-webkit-transform: translateX(0);
		        transform: translateX(0);
	}

	10%, 30%, 50%, 70%, 90% {
		-webkit-transform: translateX(-10px);
		        transform: translateX(-10px);
	}

	20%, 40%, 60%, 80% {
		-webkit-transform: translateX(10px);
		        transform: translateX(10px);
	}
}

@keyframes shake {
	0%, 100% {
		-webkit-transform: translateX(0);
		        transform: translateX(0);
	}

	10%, 30%, 50%, 70%, 90% {
		-webkit-transform: translateX(-10px);
		        transform: translateX(-10px);
	}

	20%, 40%, 60%, 80% {
		-webkit-transform: translateX(10px);
		        transform: translateX(10px);
	}
}

.modal-feedback {
	position: absolute;
	z-index: 11;
	top: 200px;
	left: 50%;
	
	width: 476px;
	margin-left: -236px;
	padding: 16px 25px;
	
	color: #323232;
	
	background-color: #f8f7f4;
	border-radius: 10px;
	
	-webkit-animation: bounce 0.6s;
	
	        animation: bounce 0.6s;
}

.overlay {
	display: none;
	position: fixed;
	z-index: 10;
	top: 0;
	
	height:  100vh;
	width:  100%;

	background-color: rgba(0,0,0,0.4);
}

.modal-show {
	display: block;
}

.modal-error {
  -webkit-animation: shake 0.6s;
          animation: shake 0.6s;
}

.modal-feedback h2 {
	font-size: 24px;
	line-height: 28px;
	font-weight: 500;
	color: #323232;
}

.modal-feedback input,
.modal-feedback textarea {
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	color: #999999;
	
	background-color: #ffffff;
	border: 1px solid #999999;
	border-radius: 5px;
}

.modal-feedback textarea {
	width: 425px;
	height: 155px;
}

.modal-feedback .button {
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;

	border: none;
	cursor: pointer;
}

.modal-close {
	position: absolute;
	top: 15px;
	right: 15px;

	width: 18px;
	height: 18px;

	font-size: 0;
	
	background: transparent;
	border: 0;

	cursor: pointer;
}

.modal-close::before,
.modal-close::after {
	content: "";

	position: absolute;
	top: 8px;
	left: 0;

	width: 23px;
	height: 2px;

	background-color: #323232;
}

.modal-close::before {
	-webkit-transform: rotate(45deg);
	        transform: rotate(45deg);
}

.modal-close::after {
	-webkit-transform: rotate(-45deg);
	        transform: rotate(-45deg);
}

.modal-feedback h2 {
	margin: 0;
	margin-bottom: 18px;

	font-size: 24px;
	line-height: 28px;
}

.feedback-form p {
	margin: 0;
	margin-bottom: 20px;
}

.feedback-form input[type="text"],
.feedback-form input[type="email"] {
	box-sizing: border-box;
	width: 266px;
	padding: 5px 15px;

	font-size: 16px;
	line-height: 24px;
	font-weight: 400;

	color: #000000;
	
	background-color: #ffffff;
}

.feedback-form textarea {
	box-sizing: border-box;
	width: 428px;
	padding: 5px 15px;

	font-size: 16px;
	line-height: 24px;
	font-weight: 700;

	color: #000000;
	border-radius: 5px;
}

.feedback-form input:hover,
.feedback-form textarea:hover {
	border: 2px solid rgba(0, 0, 0, 0.3);
	padding: 4px 14px;
}

.feedback-form input:focus,
.feedback-form textarea:focus {
	border: 2px solid #8fbdec;
	padding: 4px 14px;
}

.feedback-form button {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-left: auto;
}

.feedback-form .button {
	width: 138px;
	height: 45px;
	padding: 11px 23px;
	margin-bottom: 26px;

	font-size: 18px;
	line-height: 24px;
	color: #ffffff;

	text-align: center;
	background-color: #eb563b;
	border: none;
	border-radius: 23px;
}

.feedback-form input[type="text"],
.feedback-form input[type="email"] {
	font-weight: 700;
}

.feedback-form input::-webkit-input-placeholder,
.feedback-form textarea::-webkit-input-placeholder {
	font-weight: 400;
}

.feedback-form input::-moz-placeholder,
.feedback-form textarea::-moz-placeholder {
	font-weight: 400;
}

.feedback-form input:-ms-input-placeholder,
.feedback-form textarea:-ms-input-placeholder {
	font-weight: 400;
}
/*modal-feedback end*/

/*------------------inner-page style's start------------------------*/

/*main-header start*/
.site-navigation-current a {
	margin-left: -3px;
	margin-right: -6px;
	padding: 6px 14px 7px 13px;
	
	font-size: 16px;
	line-height: 18px;
	color: #ffffff;
	text-decoration: none;
	
	background: #D07058;
	border-radius: 20px;
}

.site-navigation-current a:hover {
	cursor: default;
}

.site-navigation-current a:active {
	color: #000000;
	text-decoration: none;
	
	border-radius: 20px;
	box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.5);
}
/*main-header end*/

/*breadcrumbs start*/
.breadcrumbs {
	position: absolute;
	top: 83px;
	
	display: -webkit-box;
	
	display: -ms-flexbox;
	
	display: flex;
	
	margin-bottom: 5px;
	padding: 0;
	
	list-style: none;
}

.breadcrumbs li {
	position: relative;
	
	margin-right: 20px;
	font-size: 14px;
	line-height: 16px;
	font-weight: 400;
	color: #ffffff;
}

.breadcrumbs li:first-child::after,
.breadcrumbs li:nth-child(2)::after {
	content: "»";
	
	position: absolute;
	left: 60px;
	
	width: 7px;
	height: 7px;
}

.breadcrumbs a {
	text-decoration: none;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
	color: #ffffff;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus,
.breadcrumbs a:active {
	color: #ffbc9e;
	border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}
/*breadcrumbs end*/

/*catalog-title start*/
.catalog-title {
	font-size: 35px;
	line-height: 41px;
	font-weight: 700;
	color: #ffffff;
}

h1.catalog-title {
	margin: 0;
	margin-top: 2px;
	margin-bottom: 25px;
}
/*catalog-title end*/

/*filters start*/
.filters {
	margin: 0px;
	margin-bottom: 28px;
	padding: 0px;
	width: 880px;
	min-height: 140px;
}

.filter {
	position: relative;

	display: -webkit-box;

	display: -ms-flexbox;

	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	
	width: 880px;
}

.filter .filter-sorting {
	width: 192px;
	margin-top: 0;
	
	font-size: 14px;
	line-height: 16px;
	font-weight: 500;
}

.filter-sorting label {
	padding-left: 16px;
}

.filter-sorting select::-ms-expand {
    display: none;
}

.filter-sorting select {
	border: none;
	margin-top: 6px;
	padding: 9px 5px 8px 14px;
	width: 193px;
	height: 36px;
	
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	appearance: none;
	
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;

	color: #ffffff;
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 20px;
}

.filter-select-icon {
	background-image: url("../img/select-arrow.svg");
	background-repeat: no-repeat;
	background-position: 168px 13px;
}

.filter-select-icon:hover {
	color: #000000;
	background-image: url("../img/select-arrow-black.svg");
	background-repeat: no-repeat;
	background-position: 168px 13px;

	cursor: pointer;
}

.filter-sorting option {
	color: #000000;
}

.filter-sorting option:hover {
	color: #ffffff;
	background-color: #1e90ff;
}
/*ползунки*/
.filter-range {
	width: 220px;
	height: 62px;
	margin-left: 16px;
	
	color: #ffffff;
}

.filter-range-title {
	padding-left: 15px;
	margin-bottom: 5px;
	
	font-size: 14px;
	line-height: 16px;
	font-weight: 500;
}

.range-controls {
	position: relative;

	margin-bottom: 32px;
	padding-top: 18px;
	padding-left: 20px;
}

.range-controls .scale {
	width: 178px;
	height: 2px;
	margin-left: 0;
	margin-right: 0;
	
	background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
	width: 127px;
	height: 2px;

	background: #ffffff;
}

.range-toggle {
	position: absolute;
	top: 10px;
  
	width: 20px;
	height: 20px;
	
	background: #ababab;
	border: 8px solid #ffffff;
	border-radius: 50%;
	box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
	cursor: pointer;
	
	-webkit-transition: all 0.1s linear;
	
	transition: all 0.1s linear;
}

.range-toggle:hover {
	width: 21px;
	height: 21px;
	margin-top: -1px;
	margin-left: -1px;
}

.range-toggle-min {
	left: 35px;
}

.range-toggle-max {
	left: 133px;
}

.range-wrap {
	position: relative;
	
	width: 220px;
	min-height: 36px;
	
	border-radius: 25px;
	background-color: rgba(255, 255, 255, 0.2);
}

.filter label,
.filter legend {
	font-size: 14px;
	line-height: 16px;
	font-weight: 500;
	color: #ffffff;
}

.fat-content {
	position: relative;
	
	width: 415px;
	margin-left: 16px;
	padding: 0;
}

.fat-content legend {
	padding-left: 13px;
}

.fat-content ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;

	margin-top: 5px;
	margin-bottom: 16px;
	padding: 6px 18px 2px 0px;
	
	list-style: none;

	background-color: rgba(255, 255, 255, 0.3);
	border-radius: 20px;
}

label.filter-zero {
	padding-left: 44px;
	margin-right: -15px;
}

.fat-content label {
	display: block;
	position: relative;

	padding-top: 2px;
	padding-bottom: 4px;

	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
	
	cursor: pointer;
}

.filter-input-radio + label::before {
	content: "";

	display: inline-block;
	vertical-align: middle;
	margin-left: -33px;
	margin-right: 8px;
	margin-top: -1px;
	width: 25px;
	height: 25px;
	
	background-image: url("../img/radio-off.svg");
	background-repeat: no-repeat;
	
	opacity: 0.8;
}

.filter-input-radio + label:hover::before,
.filter-input-radio + label:focus::before,
.filter-input-radio + label:active::before {
	opacity: 1;
}

.filter-option:nth-child(2) label::before {
	padding-left: 20px;
	margin-left: -22px;
}

.filter-input-radio:checked + label::before {
	background-image: url("../img/radio-on.svg");
}

/*фон для отключенной отмеченной радиокопки*/
.filter-input-radio:disabled:checked + label::before {
	background-image: url("../img/radio-on.svg");

	opacity: 0.4;
}

/*фон для отключенной НЕ отмеченной радиокопки*/
.filter-input-radio:disabled + label::before {
	background-image: url("../img/radio-off.svg");

	opacity: 0.4;
}

.filter-input-radio:focus+label,
.filter-input-checkbox-first:focus+label,
.filter-input-checkbox:focus+label {
	outline: 1px solid #6C9ACB;
}

.filler-content {
	margin-right: 13px;
	padding: 0;
}

.filler-content legend {
	padding-left: 14px;
}

.filler-content label {
	position: relative;

	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
	
	cursor: pointer;
}

.filter-input-checkbox + label::before {
	content: "";
	
	position: absolute;
	top: -2px;
	left: 21px;
	
	width: 25px;
	height: 25px;
	
	background-image: url("../img/checkbox-off.svg");
	background-repeat: no-repeat;

	opacity: 0.8;
}

.filter-input-checkbox-first + label::before {
	content: "";
	
	position: absolute;
	top: -2px;
	left: 14px;
	
	width: 25px;
	height: 25px;
	
	background-image: url("../img/checkbox-off.svg");
	background-repeat: no-repeat;
	
	opacity: 0.8;
}

.filter-input-checkbox-first + label:hover::before,
.filter-input-checkbox + label:hover::before,
.filter-input-checkbox + label:focus::before,
.filter-input-checkbox + label:active::before {
	opacity: 1;
}

.filter-input-checkbox-first:checked + label::before,
.filter-input-checkbox:checked + label::before {
	background-image: url("../img/checkbox-on.svg");
}

/*фон для отключенного отмеченного чекбокса*/
.filter-input-checkbox-first:disabled:checked + label::before,
.filter-input-checkbox:disabled:checked + label::before {
	background-image: url("../img/checkbox-on.svg");

	opacity: 0.4;
}

/*фон для отключенного НЕ отмеченного чекбокса*/
.filter-input-checkbox-first:disabled + label::before,
.filter-input-checkbox:disabled + label::before {
	background-image: url("../img/checkbox-off.svg");

	opacity: 0.4;
}

.filler-content ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;

	margin-top: 5px;
	margin-bottom: 0;
	padding: 8px 18px 6px 0px;
	
	list-style: none;

	background-color: rgba(255, 255, 255, 0.3);
	border-radius: 20px;
}

label.filter-chokolate {
	padding-left: 45px;
}

label.filter-sugar {
	padding-left: 52px;
}

label.filter-fruit {
	padding-left: 54px;
}

label.filter-syrup {
	padding-left: 55px;
}

label.filter-jam {
	padding-left: 53px;
}

.filter button {
	-ms-flex-item-align: end;
	    align-self: flex-end;
	
	width: 146px;
	margin-top: 21px;
	margin-bottom: 1px;
	padding: 7px 0;
	
	border-radius: 50%;
}

.filter-group {
	border: none;
}

.filter button {
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
	color: #ffffff;
	
	background-color: rgba(255, 255, 255, 0.3);
	border-radius: 20px;
	border: 2px solid #ffffff;

	cursor: pointer;
}

.filter button:hover,
.filter button:focus {
	color: #000000;
	
	background-color: #ffffff;
	outline: none;
}

.filter button:active {
	background-color: #eaeaea;
	box-shadow: inset 0 3px 3px -1px rgba(0, 0, 0, 0.5);
}
/*filters end*/


/*pagination start*/
.pagination-list {
	position: relative;
	
	display: -webkit-box;
	
	display: -ms-flexbox;
	
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	width: 200px;
	min-height: 35px;
	margin-left: auto;
	margin-right: -1px;
	margin-top: -3px;
	padding: 0;
	
	list-style: none;
}

.pagination-list a {
	display: inline-block;
	
	min-width: 26px;
	min-height: 26px;
	margin-right: 3px;
	padding-top: 4px;
	
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
	
	text-align: center;
	vertical-align: middle;
	color: #ffffff;
	background-color: transparent;

	border-radius: 50%;
}

.pagination-list a:hover,
.pagination-list a:focus {
	background-color: rgba(255, 255, 255, 0.2);
	
	cursor: pointer;
}

.next a:hover,
.next a:focus {
	background-color: transparent;
}

.pagination-list a:active {
	color: #000000;
	
	background-color: #ffffff;
}

.prev a {
	margin-right:6px;
	
	background-image: url("../img/pagination-left.png");
	background-repeat: no-repeat;
	background-position: center center;
}

.next a {
	margin-left: 5px;
	
	background-image: url("../img/pagination-right.png");
	background-repeat: no-repeat;
	background-position: center center;
}

.prev a:hover,
.next a:hover {
	background-color: transparent;
}

.prev a:hover {
	cursor: default;
}

.pagination-item-current a {
	color: #000000;
	background-color: #ffffff;
}

.pagination-item-current a:hover {
	background-color: #ffffff;
	
	cursor: default;
}
/*pagination end*/